@model Lab4.Models.GuestsInRoom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GuestsInRoom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Guest.GUEST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest.GUEST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.ROOM_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.ROOM_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
